/* Kiểu cho BorderPane */
.border-pane {
    -fx-background-color: #f0f0f0;
}

/* Kiểu cho các nút */
.button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-padding: 10px;
}

/* Thêm hiệu ứng hover cho các nút */
.button:hover {
    -fx-background-color: #45a049;
    -fx-text-fill: white;
}

/* Kiểu cho phần ảnh */
.image-view {
    -fx-background-color: #cccccc;
}

/* StackPane chứa ảnh và nút */
.stack-pane {
    -fx-alignment: center;
}


.button-container {
    -fx-padding: 10px;
    -fx-alignment: bottom-right ;
    -fx-translate-x: -50%;  /* Căn giữa các nút trên ảnh */
    -fx-translate-y: -10px;  /* Điều chỉnh vị trí của các nút dọc theo trục Y */
}

/* Căn chỉnh các nút dưới cùng của màn hình */
.bottom {
    -fx-padding: 10px 0;
    -fx-alignment: center;
}

/* Kiểu cho HBox chứa các nút */
#buttonBox {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-hgap: 10px;
    -fx-padding: 10px;
    -fx-pref-width: 100%;
}

/* Đặt nút về bên trái */
#btnPrev {

    -fx-padding: 10px;
}

/* Đặt nút về bên phải */
#btnNext {
    -fx-padding: 10px;
}
