.root {
    -fx-background-image: url("/application/resources/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

/* Đặt màu nền trắng cho tất cả các nút */
.button {
    -fx-background-color: white;
    -fx-text-fill: black; /* Đặt màu chữ là đen */
    -fx-font-family: "Cambria";
    -fx-font-size: 14px;
}

/* Thêm hiệu ứng khi hover (di chuột lên nút) */
.button:hover {
    -fx-background-color: #f0f0f0; /* Màu nền khi di chuột */
}
